/* Universeal Selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Element Selector*/
body {
    background-color: #d9dcd6;
}

/*Element Selector*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Element Selector*/
p {
    font-size: 16px;
}

/*Class element - Header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Class element - Header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Class element - Header*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Class element - Header*/
.header div ul li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

/*Class Element*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Class Element*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Class Element*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Class Element*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Class Element - Main Body*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Class Element - Main Body*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Class Element - Main Body*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Class Element - Main Body*/
.search-engine-optimization img {
    max-height: 200px;
}

/*Class Element - Main Body*/
.online-reputation-management img {
    max-height: 200px;
}

/*Class Element - Main Body*/
.social-media-marketing img {
    max-height: 200px;
}

/*Class Element - Main Body*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Class Element - Main Body*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Class Element - Main Body*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Class Element - Benefit Side Bar*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Class Element - Benefit Side Bar*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Class Element - Benefit Side Bar*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Class Element - Benefit Side Bar*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Class Element - Benefit Side Bar*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Class Element - Benefit Side Bar*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Class Element - Benefit Side Bar*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Class Element - Benefit Side Bar*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Class Element - Benefit Side Bar*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Class Element - Benefit Side Bar*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Class Elemnet - Footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Class Elemnet - Footer*/
.footer h4 {
    font-size: 20px;
}
